name: PHP Tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "**"
jobs:
  build:

    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: mysqlreplication_test
        ports:
          - 3306/tcp

    strategy:
      matrix:
        php: [ '7.3', '7.4', '8.0', '8.1', '8.2']

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Start mysql service
        run: |
          echo -e "\n[mysqld]\ndefault_authentication_plugin=mysql_native_password\nserver-id=1\nbinlog_format=row\nlog_bin=/var/log/mysql/mysql-bin.log" | sudo tee -a /etc/mysql/my.cnf
          sudo /etc/init.d/mysql start
          mysql -uroot -proot -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root';"
          mysql_tzinfo_to_sql /usr/share/zoneinfo | mysql -u root mysql -proot

      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          ini-values: error_reporting=E_ALL, display_errors=On
          coverage: xdebug

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-${{ matrix.php }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.php }}-

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run tests
        run: vendor/bin/phpunit --coverage-text

      - name: CS Check
        if: ${{ matrix.php == '8.2' }}
        run: ./vendor/bin/phpcs

      - name: Upload coverage to coveralls.io
        if: ${{ matrix.php == '8.2' }}
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          composer require php-coveralls/php-coveralls --dev -W
          ./vendor/bin/phpunit --coverage-clover build/logs/clover.xml
          ./vendor/bin/php-coveralls -v